<h6>@_calculatedMessage</h6>

@code {

    private string _calculatedMessage = "Great Grandchild Component Value: ???";
    
    [Parameter]
    public string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        _calculatedMessage = $"Great Grandchild Component Value: {Message}";
    }
}