<h6>@_calculatedMessage</h6>
<BaselineGreatGrandChild Message="@Message"/>
@code {

    private string _calculatedMessage = "Grandchild Component Value: ???";
    
    [Parameter]
    public string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        _calculatedMessage = $"Grandchild Component Value: {Message}";
    }
}