<h6>@_calculatedMessage</h6>
<BaselineGrandChild Message="@Message"/>
@code {
    
    [Parameter]
    public string Message { get; set; } = string.Empty;
    
    private string _calculatedMessage = "Child Component Value: ???";

    protected override void OnInitialized()
    {
        _calculatedMessage = $"Child Component Value: {Message}";
    }
}