<h6>@_calculatedMessage</h6>
<OnParameterSetGrandChild Message="@Message"></OnParameterSetGrandChild>
@code {
    private string _calculatedMessage = "Child Component Value: ???";
    
    [Parameter]
    public string Message { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        _calculatedMessage = $"Child Component Value: {Message}";
    }
}
